# Framework distribuido
ray[default]==2.4

# Machine Learning
scikit-learn==1.3.0
pandas==2.0.3
numpy==1.24.3

# API y Web
fastapi==0.104.1
uvicorn==0.24.0
streamlit==1.28.0

# Utilidades
pydantic==1.10.9 
python-multipart==0.0.6
plotly==5.17.0
aiofiles==23.2.1

# Logs y monitoreo
loguru==0.7.2
psutil==5.9.6

async-timeout==4.0.3